
 #img-div, p{
    text-align: center;
  }
 #img-caption{
   text-align: center;
  }
main {
  background-color: #E0E0E0;
}
#main {
    background-color: white;
  }
  
main > #img-div {
    background-color: white;
    }

main > #image {
    background-color: white;
    }

main > #image caption {
position: absolute; 
display: block;
margin-left: auto;
margin-right: auto;   background-color: white;
}
main > #tribute-info {
    text-align: center;
    background-color: white;
}
main > #tribute-link {
    background-color: white;
}

